div header {
    padding-top: 1vh;
    padding-bottom: 6vh;
    background: #646881;
    border: 2px double black;
}

header h1{
    text-align: left;
    padding-left: 3vw; 
    font-family: Tahoma;  
}

header img{
    margin-left: 74%;
    margin-right: auto;
    width: 75px;
    border: 2px solid black;
}

div footer {
    padding-top: 5vh;
    padding-bottom: 5vh; 
    background: #646881;
    border: 2px double black;
    font-family: Tahoma; 
}

header p {
    text-align: end;
    padding-right: 1.8vw;
    line-height: 0cm;
    font-family: Tahoma; 
}

body {
    background: #46494C;
}

.inlineElement {
    display: inline;
}

div main {
    background: #62BEC1;
    border: 2px double black;
    margin: 1vh 0;
}

footer p {
    text-align: end;
    padding-right: 1.8vw;
    font-family: arial;
}

a:link {
    color: #FF512F;
}

a:visited {
    color: #02AABD;
}
