#main {
    padding-left: 2.8vw
}

main {
    font-family: Tahoma;
}

#form {
    padding-bottom: 2vh;
}

#f1:focus {
    background-color: #FF595E;
}

#f2:focus {
    background-color: #FFCA3A;
}

#f3:focus {
    background-color: #7DBE42;
}

#f4:focus {
    background-color: #1982C4;
}

#f5:focus {
    background-color: #6A4C93;
}

#f1:hover {
    background-color: #FF595E;
}

#f2:hover {
    background-color: #FFCA3A;
}

#f3:hover {
    background-color: #7DBE42;
}

#f4:hover {
    background-color: #1982C4;
}

#f5:hover {
    background-color: #6A4C93;
}

button {
    background-image: linear-gradient(71deg, #02AABD , rgb(0, 225, 255) 73%, #00CDAC);
}

a:link {
    color: #FF512F;
}

a:visited {
    color: #02AABD;
}
