* {
    margin: 0;
    padding: 0;
}

#whole_content {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr repeat(4, 2fr);
    grid-template-rows: 60px repeat(3, 2fr) 60px;
    font-family: 'Gayathri', sans-serif;
}

header {
    background: #0E1C36;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 3px solid #D1D1D1;
    color: #D0C2C4;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);    
    grid-column: 2 / -1;
    grid-row: 2 / 5;
    background: #D0C2C4;
}

footer {
    background: #403E4C;
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 3px solid #D1D1D1;
    color: #D0C2C4;
}

aside {
    background: #DE6618;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    border-right: 3px solid #D1D1D1;
}

.aside_nav {
    padding: 15px;
}

a {
    color: #DE6618;
}

footer p {
    padding-right: 15px;
}