body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 7.5vh;
    width: 100vw;
    background: #0E1C36;
    align-items: center;
    justify-content: space-between;
}

header > div {
    margin-left: 15px;
    font-size: 22pt;
}

header > nav {
    margin-right: 40px;
}

main {
    height: 85vh;
    width: 100vw;
    background: #D0C2C4;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    height: 7.5vh;
    width: 100vw;
    background: #403E4C;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer > div {
    margin-right: 40px;
    font-size: 22pt;
}

div {
    color: whitesmoke;
    font-family: 'Gayathri', sans-serif;
}

a {
    color: #D0C2C4;
}

video {
    height: 100%;
    width: 100%;
}