#internal-content {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 60px repeat(3, 2fr) 60px;
    font-family: 'Gayathri', sans-serif;
}